<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <footer>
		<ul>
			<li> <img src="/layout/img/subject.svg" alt="language icon" height="22" width="22"> </li>
			<li>English</li>
			<li>&copy; File Sharing 2019</li>
			<li> Terms &amp Conditions </li>
			<li> <a href="#">Contact Us</a> </li>
			<li> <a href="#"> <img src="/layout/img/linkedin.svg" alt="linkedin logo" height="22" width="22"></a></li>
			<li> <a href="#"> <img src="/layout/img/twitter.svg" alt="twitter logo" height="22" width="22"></a></li>
			<li> <a href="#"> <img src="/layout/img/instagram.svg" alt="instagram logo" height="22" width="22"></a></li>
			<li> <a href="#"><img src="/layout/img/facebook.svg" alt="facebook logo" height="22" width="22"></a></li>
		</ul>
	</footer>
</body>
</html>