
    <footer>
        <article>
            <ul class="footerformating">
                <li>&copy; File Sharing 2019</li>
                <li> Terms &amp Conditions </li>
                <li> <a href="#">Contact Us</a> </li>
            </ul>
            <section>
                <ul class="footerformating iconFormating">
                    <li class="floatRightFooter"> <a href="#"> <img
                                src="../../images/linkedin.png"
                                alt="linkedin logo" height="22" width="22"></a></li>
                    <li class="floatRightFooter"> <a href="#"> <img
                                src="../../images/twitter.png"
                                alt="twitter logo" height="22" width="22"></a></li>
                    <li class="floatRightFooter"> <a href="#"> <img
                                src="../../images/instagram.png"
                                alt="instagram logo" height="22" width="22"></a></li>
                    <li class="floatRightFooter "> <a href="#"><img
                                src="../../images/facebook.png"
                                alt="facebook logo" height="22" width="22"></a></li>
                </ul>
            </section>
        </article>
    </footer>