<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
		<nav>
			<ul>
				<li> <img src="/layout/img/ceb820d4-4e68-4ac7-8d50-9d2a2bfb9141_200x200.png" alt="logo" height="60" width="60"> </li>
				<li> <img src="layout/img/bell.svg" alt="notification icon" height="22" width="22"> </li>
				<li> <a href="#"></a> Sign in/ Sign up </li>
				<li> <a href="#"></a> About Us</li>
			</ul>
		</nav>
	</section>
</body>
</html>