
<body>
	<header>
		<nav>
			<ul>
				<li> <a href=""> </a> logo</li>
				<li> <a href=""></a>notif</li>
				<li> <a href="#"></a> Sign in/ Sign up </li>
				<li> <a href="#"></a> About Us</li>
			</ul>
		</nav>
	</header>
</body>
