<!DOCTYPE html>
<html lang="en">

<head>
	<title>About Us</title>
	<meta charset="UTF-8">
	<meta name="description" content="Free File Sharing Tool">
	<meta name="keywords" content="file, sharing, free, software,engineering">
	<meta name="author" content="Green Night Dwellers">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	{{>navbar}}
		<section id = "AboutTeam">
			<h2>About The Team!</h2>
			<article id = "member1">
				<dl>
					<dt id = "dtmember1"> <h3>Team Member 1</h3></dt>
						<dd id = "ddmember1"> <p>Description Here</p> </dd>
						
						

				</dl>
			</article>
			
			<article id = "member2">
				<dl>
					<dt><h3>Team Member 2</h3></dt>
						<dd> <p>Description Here</p> </dd>
				</dl>
			</article>


		</section>

		<aside id = "AboutProject">
			<article id = "projectdescription">
				<h1> About The Project </h1>
				<p> Small Description </p>
			</article>

			<article id = "feature1">
				<h1> Feature Title </h1>
				<p> Small Description </p>
			</article>

			<article id = "feature2">

				<h1> Feature Title </h1>
				<p> Small Description </p>
			</article>
		</aside>
	
		{{>footer}}
</body>
</html>