<!DOCTYPE html>
<html lang="en">

<head>
	<title>About Us</title>
	<meta charset="UTF-8">
	<meta name="description" content="Free File Sharing Tool">
	<meta name="keywords" content="file, sharing, free, software,engineering">
	<meta name="author" content="Green Night Dwellers">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	{{>navbar}}
	
	<section class = "aboutcontainer">
		<section class = "AboutTeam"> 
			

			
			<section class = "box a">
				<img id="memberimage" src="../images/logo.png" alt="Avatar">
				<dl>
					<dt> <h3 id="teamnames">Sofia</h3></dt>
						<dd> <p id="teamdesc">Brocolli Share!</p> </dd>
				</dl>	
			</section>
			
			<section class = "box b">
				<img id="memberimage" src="../images/logo.png" alt="Avatar">
				<dl>
					<dt><h3 id="teamnames">Eduardo</h3></dt>
						<dd> <p id="teamdesc">Brocolli Share!</p> </dd>
				</dl>
			</section>

			<section class = "box c">
				<img id="memberimage" src="../images/logo.png" alt="Avatar">
				<dl>
					<dt><h3 id="teamnames">Preeth</h3></dt>
						<dd> <p id="teamdesc">Brocolli Share!</p> </dd>
				</dl>
			</section>

			<section class = "box d">
				<img id="memberimage" src="../images/logo.png" alt="Avatar">
				<dl>
					<dt><h3 id="teamnames">Josh</h3></dt>
						<dd> <p id="teamdesc">Brocolli Share!</p> </dd>
				</dl>
			</section>

			<section class = "box e">
				<img id="memberimage" src="../images/logo.png" alt="Avatar">
				<dl>
					<dt><h3 id="teamnames">Mohit</h3></dt>
						<dd> <p id="teamdesc">Brocolli Share!</p> </dd>
				</dl>
			</section>

			<section class = "box f">
				<img id="memberimage" src="../images/logo.png" alt="Avatar">
				<dl>
					<dt><h3 id="teamnames">Guilherme</h3></dt>
						<dd> <p id="teamdesc">Brocolli Share!</p> </dd>
				</dl>
			</section>

			<section class = "box g ">
				<img id="memberimage" src="../images/logo.png" alt="Avatar">
			
				<dl>
					<dt><h3 id="teamnames">Hassan</h3></dt>
						<dd> <p id="teamdesc">Brocolli Share!</p> </dd>
				</dl>
				</br>
			</section>


		</section>
</section>

<aside class = "AboutProject">
			
			<section class = "projectdescription">
				
				<h3> Welcome to BroccoliShare!</h3>
			</section>

			<section class = "feature1">
				<h1> User Authentication</h1>
				<p> Users can sign up with a username email and password, and that gives
					them access to their files. </p>
			</section>

			<section class = "feature2">

				<h1>Filesharing</h1>
				<p>User files are stored privately, they can be shared by emailing a link.
				</p>
			</section>
		</aside>
	
	
		{{>footer}}
</body>
</html>