<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact Us</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free File Sharing Tool">
    <meta name="keywords" content="file, sharing, free, software,engineering">
    <meta name="author" content="Green Night Dwellers">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    {{>navbar}}

    <section style="margin: 80px; padding: 15px;">
        <form action="">
            <h1>Contact</h1>
            <section style="margin: 15px;">
                <h3 style="display: inline-block;">Email: </h3>
                <input type="email" name="email" id="email" placeholder="email@email.com" required="" style=" padding: 5px;margin: 15px;width: 70%;">
                <br>
                <h3>Message: </h3><br>
                <textarea type="text" name="message" id="message" placeholder="Message..." rows="5" required="" style="margin: 0px 0px 15px 70px;width: 71%;height: 20vh;"></textarea>
                <br>
                <input type="submit" value="Send File">
            </section>
        </form>
    </section>
    {{>footer}}
</body>

</html>