<!DOCTYPE html>

<html lang="en">
<link href="/style.css" type="text/css" rel="stylesheet">

<head>
    <title>Website Name</title>
	<meta charset="UTF-8">
	<meta name="description" content="Free File Sharing Tool">
	<meta name="keywords" content="file, sharing, free, software,engineering">
	<meta name="author" content="Green Night Dwellers">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="container">
<<<<<<< HEAD
            {{>navbar}}
=======
        {{>navbar}}
>>>>>>> e5c61441c1f248c851a5c7d746dc59d0444014fc

        <article class="previewBox">
            <strong>Preview Box</strong>
            <p><object class="previewBox" type="image/jpg" data="download_working_files/preview_example.jpg" style="width:50%; height:50%;"></object></p>
            
        </article>

        <aside class="fileBox">
            <strong>Your Files</strong>
            <p><iframe src="../download_working_files/file_list_example.png" class="fileList"></iframe></p>

            <p id="fileInfoText"><strong>File info</strong></p>
            <p><object class="previewBox" type="image/jpg" data="download_working_files/file_info_example.png" style="width:75%; height:20%;"></object></p>
            
            
            <p id="downloadButton"><button><b>DOWNLOAD</b></button></p>
        </aside>
        <footer>
            {{>foot}}
        </footer>
</body>

</html>