<!DOCTYPE html>

<html lang="en">
<link href="/style.css" type="text/css" rel="stylesheet">

<head>
    <title>Website Name</title>
	<meta charset="UTF-8">
	<meta name="description" content="Free File Sharing Tool">
	<meta name="keywords" content="file, sharing, free, software,engineering">
	<meta name="author" content="Green Night Dwellers">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="container">
        {{>navbar}}

        <section class="homePageContainer position">
            <h1>Your file {{fileName}} is ready to be downloaded!</h1>
            <br>
            <button id="registerButton"><a href={{filePath}} download={{fileName}}>DOWNLOAD</a></button>
        </section>
        <img src="/images/giphy.gif" alt="excited person">
        
        {{>footer}}
</body>

</html>