<!DOCTYPE html>
<html lang="en">

<head>
	<title>Website Name</title>
	<meta charset="UTF-8">
	<meta name="description" content="Free File Sharing Tool">
	<meta name="keywords" content="file, sharing, free, software,engineering">
	<meta name="author" content="Green Night Dwellers">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<section>
		<nav>
			<ul>
				<li> <img src="/layout/img/ceb820d4-4e68-4ac7-8d50-9d2a2bfb9141_200x200.png" alt="logo" height="60" width="60"> </li>
				<li> <img src="layout/img/bell.svg" alt="notification icon" height="22" width="22"> </li>
				<li> <a href="#"></a> Sign in/ Sign up </li>
				<li> <a href="#"></a> About Us</li>
			</ul>
		</nav>
	</section>
	<section>
	<h2>Drag and Drop your File Here</h2>
	<tr><strong>or</strong></tr><br>
	<form action="">
		<input type="file" name="myFile" value="Browse your Computer"> <br>
		<section>
		<h2>To: </h2><input type="text" name="user" value="email@email.com">
		<br>
		<input type="submit" value="Send File">
		</section>
		</form>
	</section>
	
	<aside>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</aside>
	<footer>
		<ul>
			<li> <img src="/layout/img/subject.svg" alt="language icon" height="22" width="22"> </li>
			<li>English</li>
			<li>&copy; File Sharing 2019</li>
			<li> Terms &amp Conditions </li>
			<li> <a href="#">Contact Us</a> </li>
			<li> <a href="#"> <img src="/layout/img/linkedin.svg" alt="linkedin logo" height="22" width="22"></a></li>
			<li> <a href="#"> <img src="/layout/img/twitter.svg" alt="twitter logo" height="22" width="22"></a></li>
			<li> <a href="#"> <img src="/layout/img/instagram.svg" alt="instagram logo" height="22" width="22"></a></li>
			<li> <a href="#"><img src="/layout/img/facebook.svg" alt="facebook logo" height="22" width="22"></a></li>
		</ul>
	</footer>
</body>
</html>
