<!DOCTYPE html>
<html lang="en">

<head>
	<title>File Sharing</title>
	<meta charset="UTF-8">
	<meta name="description" content="Free File Sharing Tool">
	<meta name="keywords" content="file, sharing, free, software,engineering">
	<meta name="author" content="Green Night Dwellers">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style.css">
	<link rel="logo" href="../images/logo.png" type="image/png">

</head>

<body class="container">
	{{>navbar}}


	<script>
		// pop on click to let the user know the file has been uploaded
		function myFunction() {
			const popup = document.getElementById("myPopup");
			popup.classList.toggle("show");
		}
	</script>

	<article class="homePageContainer">
		<form method="post" action="/upload" enctype="multipart/form-data">
			<h2>Send your files to your Friends</h2>

			{{#if user}}
				<input type="text" placeholder="email@email.com or username" name="emailOrUsername">
			{{else}}
				<input type="text" placeholder="email@email.com or username" name="emailOrUsername" disabled>
			{{/if}}

			<br>
			<h3>Search for file</h3>

			{{#if user}}
				<input class="box__file" type="file" name="file" data-multiple-caption="{count} files selected" multiple />
			{{else}}
				<input class="box__file" type="file" name="file" data-multiple-caption="{count} files selected" multiple disabled />
			{{/if}}
			
			<section class="box__input box">
				<label for="file">
					<object class="box__dragndrop">
						<br>
						<p>Drag And Drop Here</p>
					</object>
				</label>
				<br>
			</section>

			{{#if user}}
			<button class="box__button popup" onclick="myFunction()" id="registerButton" type="submit">Upload
				<section class="popuptext" id="myPopup">Done!</section>
			</button>
			{{else}}
			<button class="box__button popup" onclick="myFunction()" id="registerButton2" type="submit" disabled>Upload
				<section class="popuptext" id="myPopup">Done!</section>
			</button>
			<br>
			{{/if}}


			<div class="box__uploading">Uploading&hellip;</div>
			<div class="box__success">Done!</div>
			<div class="box__error">Error! <span></span>.</div>
		</form>
	</article>

	<article class="homePageContainer marginRight">
		<iframe width="560" height="315" class="center" src="https://www.youtube.com/embed/C0DPdy98e4c" frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
		</iframe>
	</article>

	{{>footer}}
</body>

</html>