<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Log In</title>
	<meta name="description" content="">
	<meta name="author" content="team">
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>
	{{>navbar}}
	<article class="greyContainer">
		<h1>Log In</h1>
		{{#if msg}}
		<p class="msg">{{msg}}</p>
		{{/if}}
		<form action="/login" method="post">
			<br>
			<p>Username:<br/>
			<br>
			<input type="text" name="user" placeholder="your username" value="{{user}}" autofocus></p>
			
			<p>Password:<br/>
			<br>
			<input type="password" name="pass" placeholder="your password" value=""></p>
			<p><input id="registerButton" type="submit" value="Log in"></p>
		</form>
		
		<button id="registerButton">
			<a href="/register">Register</a>
		</button>
	</article>
	{{>footer}}
</body>
</html>