<!DOCTYPE html>

<html lang="en">

<head>
    <title>Website Name</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free File Sharing Tool">
    <meta name="keywords" content="file, sharing, free, software,engineering">
    <meta name="author" content="Green Night Dwellers">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" type="text/css" rel="stylesheet">

</head>

<body class="container">
    {{>navbar}}

    <article class="homePageContainer">
        <h1>Preview Your File</h1>
        <section class="box boxSize">
        </section>
        <br>
        {{!-- information about file, such as filety type, size, name --}}
        <section class="infoBox">
        </section>
    </article>

    <article class="homePageContainer marginRight">
        <h1>Available Downloads</h1>
        <section class="box boxSize">

        </section>
        <br>
        <button id="registerButton">Download</button>
    </article>

    {{>footer}}
</body>

</html>