 html, body{
    height: 100%;
} 

.container{
    display: grid;
    grid-template-columns: 40% auto;
}

.webFonts{
    font-family: Arial, Helvetica, sans-serif;
}

article.previewBox{
    background-color: lightgrey;
    text-align: center;
    margin-top: 10%;
    padding-top: 3%;
    border-radius: 25px;
}

aside.fileBox{
    text-align: center;
    background-color: gray;
    margin-top: 8%;
    padding-top: 3%;
    border-radius: 25px;
}


object.previewBox{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

iframe.fileList{
    grid-auto-rows: 3px;
    background-color: aquamarine;
    height: 250px;
    width: 75%;
}

#downloadButton{
    margin-top: 5%;
}

button{
    transition-duration: 0.3s;
    border-radius: 5px;
    font-size: 30px;
    font-style: normal;
  }
  
button:hover{
    background-color: rgba(121, 241, 250, 0.452); 
    color: white;
    box-shadow: 0 0 0 1px aquamarine;
}

