 html, body{
    height: 100%;
} 

.webFonts{
    font-family: Arial, Helvetica, sans-serif;
}

article.previewBox{
    float: left;
    background-color: lightgrey;
    text-align: center;
    width: 49%;
    height: 70%;
    margin-top: 10%;
    padding-top: 3%;
    border-radius: 25px;
}

aside.fileBox{
    text-align: center;
    float: right;
    background-color: gray;
    width: 49%;
    height: 100%;
    margin-top: 8%;
    padding-top: 1.5%;
    border-radius: 25px;
}


object.previewBox{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

iframe.fileList{
    grid-auto-rows: 3px;
    background-color: aquamarine;
    height: 300px;
    width: 67.3%;
}

.fileInfo{
    height: 107px;
    width: 72.6%;
    background-color: aquamarine;
}

#fileInfoText{
    padding-top: 4%;
}

#downloadButton{
    padding-top: 3%;
}

button{
    transition-duration: 0.3s;
    border-radius: 5px;
    font-size: 30px;
    font-style: normal;
  }
  
button:hover{
    background-color: rgba(121, 241, 250, 0.452); 
    color: white;
    box-shadow: 0 0 16px 1px aquamarine;
}

.navBar{
    padding: 1%;
    margin-top: 0%;
    width: 99.5%;
    background-color: rgba(121, 241, 250, 0.452);
    position: fixed;
    top: 0;
}

.navBarList{
    display: inline;
}

.logo{
    color: black;
    margin-left: 0%;
    margin-right: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
}

.notifications{
    color: black;
    float: right;
    margin-left: 20px;
    margin-right: 70px;
}

.signIn{
    color: black;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}

.aboutUs{
    color: black;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}

