 html,
 body {
   height: 100%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
 } 
 
 .msg {
   border: 1px solid red;
   font-weight: bold;
   color: red;
   padding: 1em;
 }

 /*
 *
 Home Page CSS
*
*/

.greyUploadContainer{
  background-color: darkgrey;
  border-radius: 10px;
  padding: 2%;
  width: 60%;
	height: 415px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  text-align: center;
}

.greyVideoContainer{
  background-color: darkgrey;
  border-radius: 10px;
  padding: 2%;
  width: 660px;
	height: 415px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  text-align: center;
}

 /*
* 
*  Download page css code
* 
*/
 .container {
   display: grid;
   grid-template-columns: 40% auto;
 }

 article.previewBox {
   background-color: lightgrey;
   text-align: center;
   margin-top: 10%;
   padding-top: 3%;
   border-radius: 25px;
   position: relative;
   top: 30%;
   padding: 10%;
 }

 aside.fileBox {
   text-align: center;
   background-color: gray;
   margin-top: 8%;
   padding-top: 3%;
   border-radius: 25px;
 }


 object.previewBox {
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   padding: 30%;
 }

 iframe.fileList {
   grid-auto-rows: 3px;
   background-color: aquamarine;
   height: 250px;
   width: 75%;
 }

 #downloadButton {
   margin-top: 5%;
 }

 /* button {
   transition-duration: 0.3s;
   border-radius: 5px;
   font-size: 30px;
   font-style: normal;
 }

 button:hover {
   background-color: rgba(121, 241, 250, 0.452);
   color: white;
   box-shadow: 0 0 0 1px aquamarine;
 } */


 /*
*
*  About page css code
*
*/
 #dtmember1 {
   color: black;
 }

 #ddmember1 {
   color: blue;
 }

 #AboutTeam {
   float: left;
   width: 60%;
   text-align: left;
   padding-left: 5%;

 }


 #AboutProject {
   float: right;
   width: 30%;
   text-align: center;


 }

 /*
*
* nav css code
*
*/

 header {
   background-color: #426A5A;
   margin: 0;
   padding: 0;
   position: fixed;
   top: 0;
   width: 100%;
 }

 ul.navformating,
 ul.footerformating {
   list-style-type: none;
   margin: 0;
   padding-right: 30px;
   padding-left: 0;
   padding-top: 10px;
   padding-bottom: 5px;
   overflow: hidden;
 }

 li.floatRightNav {
   float: right;
   padding-top: 20px;

 }

 nav>ul>li>a {
   display: block;
   color: white;
   padding: 2px 10px 2px 35px;
   text-decoration: none;

 }

 li a:hover:not(.active) {
   border: #7FB685;
   opacity: 0.5;
 }

 .logo {
   float: left;
 }

 img.roundcorner{
 
  width: 50px;
  height: 50px;
  border-radius: 50%;
 }

  /*
*
* drop down log in css code
*
*/
.dropbtn {
  display: inline-block;
  color: white;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 52px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 20px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #313638;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}
 /*
*
* Footer css code
*
*/
 footer {
   background-color: #EFF1ED;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 20px;
 }

 article>ul>li,
 article>ul>li>a {
   display: block;
   color: darkgrey;
   padding: 2px 30px 2px 30px;
   text-decoration: none;
   float: left;
 }

 li.floatRightFooter {
   float: right !important;
 }

 .iconFormating {
   padding-left: 400px !important;
   padding-right: 0 !important;

 }


 section>ul>li>a {
   display: block;
   color: darkgrey;
   padding: 2px 30px 2px 30px;
   text-decoration: none;
   float: right;
 }

#grid2Columns {
   display: inline-grid;
   grid-template-columns: auto auto;
 }
 /*
*
* log in css code
*
*/
.greyContainer{
  background-color: darkgrey;
  border-radius: 10px;
  position: absolute;
  padding: 2%;
  width: 30%;
	height: 55%;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  text-align: center;
}

#registerButton, #registerButton > a, input[type=submit]{
  background-color:  #426A5A;
  text-decoration: none!important;
  padding: 5%;
  font-size: 14pt;
  border-radius: 10px;
  border: none;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  margin-top: 10px;
}

#registerButton:hover, input[type=submit]:hover {
  background-color: #426A5A;
  opacity: 0.5;
}
input[type=text], input[type=password]{
  width: 40%;
  height: 80%;
  padding: 2%;
  margin: 2%;
}

input[type=file]{
  padding-left: 70px;
  margin-top: 5px;
}
