 html,
 body {
   height: 100%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 0;
 }

 .msg {
   border: 1px solid red;
   font-weight: bold;
   color: red;
   padding: 1em;
 }

 /*
 *
 Home Page CSS
*
*/

 /* Popup in upload button*/
 .popup {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 /* The actual popup */
 .popup .popuptext {
   visibility: hidden;
   width: 160px;
   background-color: gray;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
 }

 /* Popup arrow */
 .popup .popuptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: gray;
 }

 .popup .show {
   visibility: visible;
   -webkit-animation-duration: 50s;
   animation-duration: 50s;
 }

 .box__dragndrop>p:hover {
   color: darkgrey;
 }

 form>h3 {
   text-align: left;
   padding-left: 12%;
   margin: 0;
 }

 .homePageContainer {
   background-color: darkgrey;
   border-radius: 15px;
   padding: auto;
   margin: auto 20px auto 100px;
   text-align: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .marginRight {
   align-content: center;
   margin: auto 100px auto 20px !important;
 }

 .box {
   font-size: 1.25rem;
   /* 20 */
   background-color: #426A5A;
   opacity: 0.7;
   margin: 5%;
   margin-bottom: 0%;
   padding: 100px 20px;
   border-radius: 25px;
 }

 .box__uploading,
 .box__success,
 .box__error {
   display: none;
 }

 iframe {
   margin-top: 8%;
   margin-bottom: 8%;
 }

 /*
* 
*  Download page css code
* 
*/
 .container {
   display: grid;
   grid-template-columns: 40% auto;
   position: relative;
   top: 2%;
 }

 .boxSize {
   height: 200px !important;
   margin-bottom: 0% !important;
 }

 .infoBox {
   background-color: lightgray;
   opacity: 0.7;
   margin: 5%;
   margin-top: 5px !important;
   border-radius: 25px;
   height: 100px !important;
 }

 .marginRight>.box {
   background-color: lightgray;
   opacity: 1 !important;
 }


 /*
*
*  About page css code
*
*/

#AboutTeam,
#AboutProject{
  margin-top: 10%;
}
 #dtmember1 {
   color: black;
 }

 #ddmember1 {
   color: blue;
 }

 #AboutTeam {
   float: left;
   width: 60%;
   text-align: left;
   padding-left: 5%;

 }

 form>#registerButton,
 .greyContainer>#registerButton,
 .marginRight>#registerButton,
 form>#registerButton2 {
   margin-bottom: 20px !important;
 }

 #AboutProject {
   float: right;
   width: 30%;
   text-align: center;


 }

 /*
*
* nav css code
*
*/

 header {
   background-color: #426A5A;
   margin: 0;
   padding: 0;
   position: fixed;
   top: 0;
   width: 100%;
   max-height: 85px;
 }

 ul.navformating,
 ul.footerformating {
   list-style-type: none;
   margin: 0;
   padding-right: 30px;
   padding-left: 0;
   padding-top: 10px;
   padding-bottom: 5px;
   overflow: hidden;
 }

 li.floatRightNav {
   float: right;
   padding-top: 20px;
 }

 nav>ul>li>a {
   display: block;
   color: white;
   padding: 2px 10px 2px 35px;
   text-decoration: none;

 }

 li a:hover:not(.active) {
   border: #7FB685;
   opacity: 0.5;
 }

 .logo {
   float: left;
 }

 img.roundcorner {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-top: 0px !important;
   float: right;
   margin-left: 20px !important;
   position: relative;
   top: 5px;
 }

 /*
*
* drop down log in css code
*
*/
 .dropbtn {
   display: inline-block;
   color: white;
   text-decoration: none;
 }

 li.dropdown {
   display: inline-block;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   top: 52px;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 20px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 5 !important;
 }

 .dropdown-content a {
   color: #313638;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: center;
   z-index: 5 !important;

 }

 .dropdown:hover .dropdown-content {
   display: block;
   z-index: 5 !important;
 }

 /*
*
* Footer css code
*
*/
 footer {
   background-color: #EFF1ED;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 0.5%;
   max-height: 5%;
 }

 article>ul>li,
 article>ul>li>a {
   display: block;
   color: darkgrey;
   padding: 1px 30px 1px 30px;
   text-decoration: none;
   float: left;
 }

 li.floatRightFooter {
   float: right !important;
 }

 .iconFormating {
   padding-left: 400px !important;
   padding-right: 0 !important;
 }

 section>ul>li>a {
   display: block;
   color: darkgrey;
   padding: 2px 30px 2px 30px;
   text-decoration: none;
   float: right;
 }

 #grid2Columns {
   display: inline-grid;
   grid-template-columns: auto auto;
 }

 /*
*
* log in css code
*
*/

 .greyContainer {
   background-color: darkgrey;
   border-radius: 10px;
   position: absolute;
   padding: 2%;
   width: 30%;
   height: 60%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   text-align: center;
 }

 #registerButton,
 #registerButton>a,
 #registerButton2>a,
 #registerButton2, 
 #registerButton3 {
   background-color: #426A5A;
   text-decoration: none !important;
   padding: 7%;
   font-size: 14pt;
   border-radius: 25px;
   border: none;
   padding-top: 3%;
   padding-bottom: 3%;
   color: white;
   margin-top: 10px;
 }

 #registerButton:hover {
   background-color: #426A5A;
   opacity: 0.5;
 }

 input[type=text],
 input[type=password] {
   width: 50%;
   height: 18px;
   padding: 2%;
   margin: 0%;
   margin-bottom: 5%;
   border-radius: 20px;
 }

 input[type=file] {
   padding-left: 70px;
   margin-top: 5px;
 }

  /*
*
*  downloadFile page css code
*
*/
.container > img{
  margin: 0 auto 0 auto;
  border-radius: 25px;
  position: relative;
  top: 30%;
}

.position{
  padding: 5%;
}

  /*
*
*  Error page css code
*
*/

#registerButton3,
#registerButton3 > a{
    min-width: 30px;
    text-decoration: none;
    color: white;
}